body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scrollbar-color: transparent transparent;
    overflow-y: scroll; 
}


h1 {
    font-size: 20px;
    margin-bottom: 20px;
}

body::-webkit-scrollbar {
    display: none;
  }
  
.main {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    max-width: 400px;
    width: 100%;
    margin: auto;
    height: 1050px;     
}

  
* {
    outline: none;
}

.general {
    background-color: #1ab248;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 0px;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
    height: 5vh;
    min-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.general:hover {
    background-color: #30cc5f;
}

.general:active {
    background-color: #158e3a;
}

.container {
  display: flex;
  flex-direction: column;
}

.container label {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 15px;
}





.inputed{
    width: 100%;
    padding: 15px;
    background-color: #f5f6f7;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size:  15px;
    border: 2px solid #f5f6f7; 
    transition: border-color 0.5s; 
    border-radius: 10px;
    height: 40px;
    display: flex;
    min-height:30px;
}


.inputed[type="text"]:focus {
    outline: none;
    border-color: #1ab248;
    background-color: transparent;
}

.inputed[type="text"]:hover {
    background-color: #e8f7ec;  
}


.textareaInput {
    font-family: 'Roboto', Arial, sans-serif;
    width: 100%;
    border: none;
    resize: none; 
    outline: none; 
    padding: 15px;
    background-color: #f5f6f7;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: 15px;
    border: 2px solid #f5f6f7;
    transition: border-color 0.5s;
    border-radius: 10px;
    min-height: 100px; 
    display: flex;
}

.textareaInput:focus-within {
    border-color: #1ab248;
    background-color: transparent;
}

.textareaInput:hover {
    background-color: #e8f7ec;
}

.textareaInput textarea {
    width: 100%;
    height: 100%; 
    font-size: 15px;
    border-radius: 10px;
    padding: 0;
    box-sizing: border-box;
    background-color: transparent;
}

.textareaInput textarea:focus {
    border-color: transparent;
}



.input-file-row {
    display: flex;
    flex-direction: column;
    width: 100%; 
    
    
}

.input-file {
    display: flex;
    flex-direction: column;
    width: 100%;
    
    
}

.input-file span {
    
    display: flex;
    justify-content: center;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    font-size: 15px;
    vertical-align: middle;
    color: #1ab248;
    text-align: center;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    line-height: 22px;
    height: 40px;
    width: 100%; 
    padding: 10px 20px;
    box-sizing: border-box;
    border: none;
    margin: 0;
    transition: background-color 0.5s;
    
}

.input-file span {
    height: auto;
    border-radius: 10px;

    
}

.input-file input[type=file] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    
    width: 0;
    height: 0;
}

.input-file:hover span {
    background-color: #1ab248;
    color: white;
}

.input-file input[type=file]:disabled + span {
    background-color: #eee;
    
}

.input-file-list {
    padding: 10px 0;

}

.input-file-list-item {
    margin-bottom: 10px;
    font-size: 13px;
    display: flex;
    
}


.input-file-list-name {
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap; 
}

.input-file-list-remove {
    color: red;
    text-decoration: none;
    display: flex;
    margin-left: 5px;
}

.status {
    min-height: 20px;
    display: block;
    margin-bottom: 20px;
    color: red;
    text-align: center;
}

.error {
    border-color: red;
    outline: none;

  }
